{
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier", // eslint-config-prettier
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier",
        "@typescript-eslint",
        "react-hooks"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/explicit-function-return-type": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/prop-types": "error"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "implied-strict": true,
            "modules": true
        },
        "project": "./tsconfig.json"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}